.banner {
    background-image: url(../img/typewriter_on_wood_desk.jpg);
    background-size: cover;
    font-size: 65px;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}
.foot {
    border-top: 1px solid black;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding-top: 10px;

}

.del-button {
    border-radius: 10px;
}