{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="container">

        <p>{{ blogposts|length }} Blogpost{{blogposts|pluralize}}.</p>

        <ul>
            {% for blogpost in blogposts %}
                <li>
                    <a href="{% url 'single-post' blogpost.id  %}">
                        {{ blogpost.title }} ({{ blogpost.publish_date|date:"D, Y M, jS" }} by {{ blogpost.author}})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
