

{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="{% url 'new-post' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div>
                <label for="title" class="field-label">Title:</label>
            </div>

            <div>  
                <input type="text" id="title" name="title" />
            </div>
        </div>

        <div class="form-row">
            <div>
                <label for="author" class="field-label">Author:</label>
            </div>

            <div>
                <input type="text" name="author" id="author">
            </div>
        </div>


        <div class="form-row">
            <div>
                 <label for="text" class="field-label">Text:</label>
            </div>

            <div>
                <textarea name="text" id="text" cols="30" rows="10"></textarea>
            </div>
        </div>
        <button type="submit">Create Post</button>
    </form>


    
   <a href="{% url 'blogposts' %}">Back</a>

</div>


{% endblock %} 